<md-dialog aria-label="Restaurantes">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Gráfica de reportes (Restaurantes)</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:1200px;max-height:850px;" >
        <div layout="row">
            <hc-chart options="chartOptionsConsumo" flex="100">Placeholder for generic chart</hc-chart>
            <hc-chart options="chartOptionsCantidad" flex="100">Placeholder for generic chart</hc-chart>
        </div>
    </md-dialog-content>
</md-dialog>