<md-dialog aria-label="Distribucion">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Distribucion</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:600px;max-height:810px;" layout-padding layout="column">
        <form layout="row" name="distributionForm">
            <md-input-container flex=70>
                <label>Nombre</label>
                <input type="text" ng-model="record.nombre" required>
            </md-input-container>
            <md-input-container flex=30>
                <label>Capacidad</label>
                <input type="text" ng-model="record.capacidad" readonly>
            </md-input-container>
        </form>

        <md-button class="md-raised md-primary" ng-click="edit()">Editar distribución</md-button>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="addRecord()" style="margin-right:20px;" >
            Aceptar
        </md-button>
    </md-dialog-actions>
</md-dialog>
