<md-dialog aria-label="Eventos">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Eventos</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:900px;max-height:810px;" >
        <form name="formRecord">
            <div layout="row" layout-sm="column" layout-padding layout-wrap >
                <md-input-container flex="60" flex-sm="80">
                    <label>Nombre</label>
                    <input ng-model="record.nombre" md-autofocus required>
                </md-input-container>
                <md-input-container flex="40" flex-sm="80" >
                    <md-select ng-model="record.id_tipo" placeholder="Seleccionar tipo de evento" class="md-no-underline" required>
                        <md-option value="{{record.id}}" ng-repeat="record in records">{{record.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="20" flex-sm="80">
                    <label>Fecha de inicio</label>
                    <input mdc-datetime-picker
                           date="true"
                           time="false"
                           type="text"
                           show-todays-date
                           format="YYYY-MM-DD"
                           ng-model="record.fecha_inicio"
                           max-date="record.fecha_fin"
                           required>
                </md-input-container>
                <md-input-container flex="20" flex-sm="80" >
                    <label>Fecha de fin</label>
                    <input mdc-datetime-picker
                           date="true"
                           time="false"
                           type="text"
                           show-todays-date
                           min-date="record.fecha_inicio"="record.fecha_fin"
                    format="YYYY-MM-DD"
                    ng-model="record.fecha_fin"
                    required>
                </md-input-container>
                <md-input-container flex="20" flex-sm="80">
                    <label>Costo</label>
                    <input ng-model="record.costo"required>
                </md-input-container>
                <md-input-container flex="20" flex-sm="80">
                    <label>Costo menores</label>
                    <input ng-model="record.costo_menores"required>
                </md-input-container>
            <md-input-container>
                <md-checkbox ng-model="record.privado" >Evento privado</md-checkbox>
            </md-input-container>
                <!--
                    <md-input-container flex="40" flex-sm="80" ng-show="record.id==0">
                    <md-select ng-model="record.id_restaurante" placeholder="Seleccionar restaurante" class="md-no-underline">
                        <md-option value="{{restaurant._id}}" ng-repeat="restaurant in restaurants">{{restaurant.nombre}}</md-option>
                    </md-select>
                </md-input-container>
                -->
            </div>
            <div layout-margin ng-show="!response.status">
                <p class="md-subhead message-error">{{response.message}}</p>
            </div>
            <div layout="column" layout-margin>
                <div  layout="row">
                    <h4 layout-align="center center">Detalles de evento por dia</h4>
                </div>
                <div layout="column">
                    <md-button class="addButton md-fab md-mini" ng-click="details.push({id:'0'})"><md-icon>add</md-icon></md-button>
                    <div ng-repeat="detail in details">
                        <md-button class="md-fab md-mini md-warn"  flex="10" ng-click="removeDetail($index)">  <md-icon >remove</md-icon></md-button>
                        <md-input-container flex="20">
                            <md-select ng-model="details[$index].dia" placeholder="Dia" class="md-no-underline" required>
                                <md-option ng-repeat="day in days" value="{{day.id}}">{{day.nombre}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="10">
                            <input type="text" placeholder="Capacidad" required ng-model="details[$index].capacidad">
                        </md-input-container>
                        <md-input-container flex="15">
                            <input mdc-datetime-picker=""
                                   date="false"
                                   time="true"
                                   type="text"
                                   short-time="true"
                                   placeholder="Hora de inicio"
                                   format="hh:mm a"
                                   ng-model="details[$index].hora_inicio"
                                   class="md-input"
                                   readonly="readonly"
                                   required
                                   ok-text="Aceptar"
                                   cancel-text="Cancelar"
                                   today-text="Actual">
                        </md-input-container>
                        <md-input-container flex="15">
                            <input mdc-datetime-picker=""
                                   date="false"
                                   time="true"
                                   type="text"
                                   short-time="true"
                                   placeholder="Hora de fin"
                                   format="hh:mm a"
                                   ng-model="details[$index].hora_fin"
                                   class="md-input"
                                   readonly="readonly"
                                   required
                                   ok-text="Aceptar"
                                   cancel-text="Cancelar"
                                   today-text="Actual" >
                        </md-input-container>
                        <md-input-container flex="15">
                            <input mdc-datetime-picker=""
                                   date="true"
                                   time="false"
                                   type="text"
                                   placeholder="Fecha de inicio"
                                   max-date="details[$index].fecha_fin"
                                   ng-model="details[$index].fecha_inicio"
                                   class=" md-input"
                                   required
                                   readonly="readonly" >
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                        <md-input-container flex="15">
                            <input mdc-datetime-picker=""
                                   date="true"
                                   time="false"
                                   type="text"
                                   placeholder="Fecha de fin"
                                   min-date="details[$index].fecha_inicio"="details[$index].fecha_fin"
                            ng-model="details[$index].fecha_fin"
                            class=" md-input"
                            required
                            readonly="readonly" >
                            <div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-divider></md-divider>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="saveRecord()" style="margin-right:20px;" >
            Aceptar
        </md-button>
    </md-dialog-actions>

</md-dialog>
