<md-dialog aria-label="Eventos">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Eventos</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:400px;max-height:810px;" >
    <div layout-padding layout="column">
        <span>¿Desea asignar este evento a algun restaurante?</span>
        <form name="formSelectDistribution">
            <md-input-container  ng-show="select">
                <md-select ng-model="record.id_restaurante" placeholder="Seleccionar restaurante" class="md-no-underline" required>
                    <md-option value="{{restaurant._id}}" ng-repeat="restaurant in restaurants">{{restaurant.nombre}}</md-option>
                </md-select>
            </md-input-container>
        </form>
    </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-show="select" ng-click="saveDistribucion()">Aceptar</md-button>
        <md-button ng-show="!select" ng-click="select=1" style="margin-right:20px;" >
            Si
        </md-button>
        <md-button ng-show="!select" ng-click="cancel()" style="margin-right:20px;" >
            Mas tarde
        </md-button>
    </md-dialog-actions>

</md-dialog>