<md-dialog aria-label="Distribucion">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Detalles de reservación</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:600px;max-height:810px;" layout-padding layout="column">
        <form layout="column" name="distributionForm">
            <div layout="row">
                <md-input-container flex>
                    <label>Nombre</label>
                    <input type="text" ng-model="record.nombre_persona" readonly>
                </md-input-container>
                <md-input-container flex=20 ng-show="record.habitacion">
                    <label>Habitación</label>
                    <input type="text" ng-model="record.habitacion" readonly>
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Salon</label>
                <input type="text" ng-model="record.nombre" readonly>
            </md-input-container>
            <md-input-container flex>
                <label>Fecha</label>
                <input type="text" ng-model="record.fecha_reservacion" readonly>
            </md-input-container>
            <div layout="row">
                <md-input-container flex>
                    <label>Total a pagar</label>
                    <input type="text" ng-model="record.total_pago" readonly>
                </md-input-container>
                <md-input-container flex>
                    <label>Estatus</label>
                    <input type="text" readonly value="{{ +record.estatus_pago == 0 ? 'Pendiente de pago' : 'Pagado' }}">
                </md-input-container>
            </div>
            <div layout="row" ng-show="record.tipo_pago">
                <md-input-container flex>
                    <label>Metodo de pago</label>
                    <input type="text" readonly ng-model="record.tipo_pago">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Regristrado por</label>
                    <input type="text" readonly ng-model="record.usuario_registro">
                </md-input-container>
                <md-input-container flex>
                    <label>Fecha de registro de reservación</label>
                    <input type="text" readonly ng-model="record.fecha">
                </md-input-container>
            </div>
            <div layout="row" ng-show="+record.estatus_pago !== 0">
                <md-input-container flex>
                    <label>Pago registrado por</label>
                    <input type="text" readonly ng-model="record.usuario_pago">
                </md-input-container>
                <md-input-container flex>
                    <label>Fecha de registro de pago</label>
                    <input type="text" readonly ng-model="record.fecha_pago">
                </md-input-container>
            </div>
            <div layout="row" ng-show="record.asientos">
                <md-input-container flex>
                    <label>Asientos</label>
                    <input type="text" readonly ng-model="record.asientos">
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
