<md-dialog aria-label="Restaurantes">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Restaurantes</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:600px;max-height:850px;" >
        <form name="formRecord">
            <md-content >
                <div layout="row" layout-xs="column" layout-padding layout-wrap>
                    <md-input-container flex>
                        <input type="text" placeholder="Nombre" ng-model="record.nombre" md-auto-focus required>
                    </md-input-container>
                    <md-input-container flex>
                        <input type="text" placeholder="Capacidad" ng-model="record.capacidad" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-padding layout-wrap>
                    <md-input-container flex>
                        <input mdc-datetime-picker="" date="false" time="true" type="text" short-time="true"
                               placeholder="Hora de inicio"  format="hh:mm a" ng-model="record.hora_apertura" class="md-input"
                               readonly="readonly" required ok-text="Aceptar" cancel-text="Cancelar" today-text="Actual">
                    </md-input-container>
                    <md-input-container flex>
                        <input mdc-datetime-picker="" date="false" time="true" type="text" short-time="true"
                               placeholder="Hora de finalizado"  format="hh:mm a" ng-model="record.hora_cerrado" class="md-input"
                               readonly="readonly" required ok-text="Aceptar" cancel-text="Cancelar" today-text="Actual" >
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-padding layout-wrap>
                    <md-input-container flex>
                        <label >Descripción</label>
                        <textarea ng-model="record.descripcion" rows="5" required></textarea>
                    </md-input-container>
                </div>
            </md-content>
            <div layout-margin ng-show="!response.status">
                <p class="md-subhead message-error">{{response.message}}</p>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="saveRecord()" style="margin-right:20px;" >
            Aceptar
        </md-button>
    </md-dialog-actions>
</md-dialog>