.user_image{
    margin: 5px 0px 0px 20px;
}
.current_module {
    background-color: rgba(11, 11, 11, 0.07);
}

.module{
    cursor: pointer;
}
.module:hover{
    background-color: rgba(128, 128, 128, 0.09);
}
.info{
    margin: 1px 5px;
}
.message-error{
    color: rgb(221,44,0);
}

.bold-label{
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.logo {
    height: 80%;
}
