<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ translation.LABELS.GUEST_INFO }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:800px;max-height:810px;" layout-padding layout="column">
        <h2 class="md-headline">{{ trasnlation.LABELS.SELECT_H_RESERV_ROOM }}</h2>
        <div layout="row">
            <form name="roomForm" layout="column" flex=40>
                <md-input-container>
                    <label>{{ translation.LABELS.SELECT_RESERV_ROOM }}</label>
                    <input ng-model="data.room.number" required/>
                    <div class="errors" ng-messages="dateForm.favoriteColor.$error">
                        <div ng-message="required">{{ translation.LABELS.FIELD_REQUIRED }}</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>{{ translation.LABELS.SELECT_RESERV_NAME }}</label>
                    <input ng-model="data.room.name" required/>
                    <div class="errors" ng-messages="dateForm.favoriteColor.$error">
                        <div ng-message="required">{{ translation.LABELS.FIELD_REQUIRED }}</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="add()">{{ translation.LABELS.ADD }}</md-button>
            </form>
            <div flex=60>
                <md-list style="text-align:center; line-height: 40px;">
                     <div class="md-subheader md-no-sticky" flex layout="row" style="line-height: 40px;">
                        <div flex=50>{{ translation.LABELS.GUEST }}</div>
                        <div flex=20>{{ translation.LABELS.SELECT_RESERV_ADULTS }}</div>
                        <div flex=20>{{ translation.LABELS.SELECT_RESERV_CHILDREN }}</div>
                     </div>
                     <md-list-item class="md-1-line" ng-repeat="customer in customers">
                        <div class="md-list-item-text" layout="row" flex>
                            <div flex=50>{{ customer.nombre }}</div>
                            <div flex=20 layout="column">
                                {{ customer.adultos }}
                            </div>
                            <div flex=20>
                                {{ customer.menores }}
                            </div>
                            <div flex=10 ng-hide="$index === 0">
                                <md-button class="md-icon-button" ng-click="remove(customer)">
                                    <md-icon>remove_circle_outline</md-icon>
                                </md-button>
                            </div>
                        </div>
                   </md-list-item>
                   <md-divider ></md-divider>
                </md-list>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" style="margin-right:20px;" >
            {{ translation.LABELS.ACEPT }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
