<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ translation.LABELS.RESERV }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:400px;max-height:810px;" layout-padding layout="column">
        <div id="ticket-content">
            <h3 class="center-text">{{ translation.LABELS.HOTEL_NAME }}</h3>
            <div layout="row" layout-align="center center">
                <img ng-src="{{ barcodeURL() }}">
            </div>
            <h2 class="center-text">{{ data.ticket.codigo }}</h2>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.GUEST }}:</span> {{data.ticket.nombre}}
            </div>
            <div layout="row" ng-show="data.ticket.habitacion">
                <span class="bold-label">{{ translation.LABELS.SELECT_RESERV_ROOM }}:</span> {{data.ticket.habitacion}}
            </div>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.EVENT }}:</span> {{data.ticket.evento}}
            </div>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.RESREV_SELECTED_SEATS }}:</span> {{data.ticket.asientos}}
            </div>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.ATTENDEES }}:</span> {{data.ticket.adultos}} {{ translation.LABELS.SELECT_RESERV_ADULTS }} y {{data.ticket.menores}} {{ translation.LABELS.SELECT_RESERV_CHILDREN }}
            </div>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.DATE }}:</span> {{data.ticket.fecha}}
            </div>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.TIME }}:</span> {{data.ticket.hora}}
            </div>
            <div layout="row">
                <span class="bold-label">{{ translation.LABELS.USER_RESERVATION }}:</span> {{data.ticket.usuario_reservacion.nombre}}
            </div>
            <div layout="column" class="center-text" ng-show="data.ticket.total > 0">
                <h2>{{ translation.LABELS.TOTAL_PAY }}</h2>
                <span style="font-size: 3em;">{{data.ticket.total | currency }}</span>
                <span>** {{ translation.MESSAGES.TIME_TO_PAY }} {{ time }} {{ translation.LABELS.MINUTES }} **</span>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" style="margin-right:20px;" >
            {{ translation.LABELS.CLOSE }}
        </md-button>
        <md-button ng-click="imprimir()" style="margin-right:20px;" >
            {{ translation.LABELS.PRINT }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
