<md-dialog aria-label="Cambiar contraseña">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cambiar contraseña</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:400px;max-height:810px;" >
        <form name="formUsuarios">
            <div layout="column" layout-sm="column" layout-padding layout-wrap >
                <md-input-container flex="50" flex-sm="80">
                    <label>Contraseña</label>
                    <input type="password" ng-model="record.contrasena" ng-minlength="5" md-autofocus required>
                </md-input-container>
                <md-input-container flex="50" flex-sm="80" >
                    <label>Verificar contraseña</label>
                    <input type="password" required  ng-model="verificar_contrasena" ng-pattern="{{record.contrasena}}">
                </md-input-container>
            </div>
            <div layout-margin ng-show="!response.status">
                <p class="md-subhead message-error">{{response.message}}</p>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="saveRecord()" style="margin-right:20px;" >
            Aceptar
        </md-button>
    </md-dialog-actions>
</md-dialog>