<md-dialog aria-label="Usuarios">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Usuarios</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:700px;max-height:810px;" >
        <form name="formUsuarios">
            <div layout="row" layout-sm="column" layout-padding layout-wrap >
                <md-input-container flex="60" flex-sm="80">
                    <label>Nombre</label>
                    <input ng-model="record.nombre" md-autofocus required>
                </md-input-container>

                <md-input-container flex="40" flex-sm="80" >
                    <label>Usuario</label>
                    <input ng-model="record.usuario" required>
                </md-input-container>
                <md-input-container flex="60" flex-sm="80" >
                    <label>Correo Eléctronico</label>
                    <input ng-model="record.correo" required type="email">
                </md-input-container>
                <div layout="row" layout-align="space-between center" flex="40" layout-padding>
                    <md-select ng-model="record.id_perfil" placeholder="Seleccionar perfil" class="md-no-underline" required>
                        <md-option value="{{record.id}}" ng-repeat="record in records">{{record.nombre}}</md-option>
                    </md-select>
                </div>
                    <md-input-container flex="50" flex-sm="80" ng-show="record.id==0">
                        <label>Contraseña</label>
                        <input type="password" ng-model="record.contrasena" ng-minlength="5" ng-required="record.id==0">
                    </md-input-container >
                    <md-input-container flex="50" flex-sm="80"  ng-show="record.id==0">
                        <label>Verificar contraseña</label>
                        <input type="password" ng-required="record.id==0"  ng-model="verificar_contrasena" ng-pattern="{{record.contrasena}}">
                    </md-input-container>

                <md-button ng-show="record.id != 0" ng-click="changePassword()"><md-icon>lock</md-icon>Cambiar contraseña</md-button>
            </div>
            <div layout-margin ng-show="!response.status">
                <p class="md-subhead message-error">{{response.message}}</p>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="saveRecord()" style="margin-right:20px;" >
            Aceptar
        </md-button>
    </md-dialog-actions>

</md-dialog>