<md-dialog aria-label="Eventos">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ translation.LABELS.CHOOSE_LANG }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:300px;max-height:810px;" >
        <md-list flex>
            <md-list-item class="md-1-line" ng-click="setLanguage('es')">
                <img src="/public/assets/images/mx.png" class="md-avatar" alt="">
                <div>
                    {{ translation.LANGUAGES.ES }}
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="setLanguage('en')">
                <img src="/public/assets/images/us.png" class="md-avatar" alt="">
                <div flex=50>
                    {{ translation.LANGUAGES.EN }}
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>
